<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burak</title>
    <!--Назва сайту-->
</head>
<body>
    <header >
        <form action="map", method="post">
            <p style="position: absolute;top: 34%;left: 41%;"><input type="text" name="name"></p>
            <button class="top_button", style="position: absolute;top: 40%;left: 45%;">Submit</button>
            <p style="font: 20px Times New Roman sans-serif;position: absolute; top: 28%;left:40.5%;">
                Please enter user name:
            </p>
        </form>
    </header>
</body>
</html>